<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="apps.appcu1" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="apps.appcu1.MainMenu"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="apps.appcu1.BoardActivity"
            android:label="@string/title_activity_board"
            android:parentActivityName="apps.appcu1.MainMenu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="apps.appcu1.MainMenu" />

        </activity>
    </application>

</manifest>
